<div class="ui vertical footer segment">
    <div class="ui stackable divided equal height stackable grid">
      <div class="sixteen wide column">
      <p><i class="icon copyright"></i>Z - 2017</p>
      </div>
    </div>
</div>